---
---

@import "{{ site.theme }}";


.wrapper {
    max-width: 1200px;
    width: 90%;
}

@media print, screen and (max-width: 960px) {
    .wrapper {
        width: auto;
        margin: 0;
    }
}

footer {
    display: none;
}

a {
    color: forestgreen;
}

a:hover {
    color: darkgreen;
}

p {
    text-align: justify;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
