---
---

@import "{{ site.theme }}";


.wrapper {
    max-width: none !important;
    width: 90% !important;
    margin: 0 auto;
}

section {
    max-width: none !important;
    width: calc(100% - 270px) !important;
    float: right;
}

header {
    width: 270px;
    float: left;
}

@media print, screen and (max-width: 960px) {
    .wrapper {
        width: auto;
        margin: 0;
    }
    
    section {
        width: auto !important;
        float: none;
        border: none;
        padding-right: 0;
    }
    
    header {
        width: auto;
        float: none;
    }
}

footer {
    display: none;
}

a {
    color: forestgreen;
}

a:hover {
    color: darkgreen;
}

p {
    text-align: justify;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}